# Результаты сборки
result
result-*

# Hardware configuration (может содержать специфичные для машины данные)
# Решишь сам, включать ли его
# hardware-configuration.nix

# Временные файлы
*.swp
*.swo
*~

# Секреты (если используешь)
secrets/
*.age
*.key
dotfiles/.local/share/nvim/lazy/
dotfiles/.local/share/nvim/lazy/*

# Neovim временные файлы
dotfiles/.local/share/nvim/
dotfiles/.local/state/nvim/
dotfiles/.cache/nvim/

# Исключение: храни только конфигурацию
!dotfiles/.config/nvim/
